@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

.about{
padding-bottom:10% ;
}
h1{
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;


}
h3{
    color: black;
    font-size: 2.5rem;
    font-family: 'Amiri', serif;
}
h2{
  color: black;
}

p{
    text-align: center;
    font-size:1.5rem ;
    color:black;
    padding-bottom: 20px;
    
}

img{
    width:100%
}


.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: center; 
    padding: 0;
    margin: 0;
    list-style: none;
  
  }
.flex-container2 {
    height: 450px;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
     align-items: center; 
    padding: 0;
    list-style: none;
  }
  
  #flex-container2 p,h3{
    color : white;
}
  
  .aboutus{
    background-color:#fff;
    padding: 200px 15px 200px 15px;
    height: 650px;
    width:50%;
    margin-top: 0px;
    color:black;
    text-align: center;
    

  }
  .aboutuspic{
    background: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80") no-repeat ;
    background-size: cover;
    padding: 0px;
    height: 650px;
    width:50%;
    margin-top: 0px;
    
  }

    
  .flex-item2 {
    width:33.33%;
    background-color: #242424;
    padding: 150px 10px 0px 10px;
    height: 450px;
    color:white;
    text-align: center;
    
  }
  .icon{
    color:white;
    margin-bottom: 1rem;
  }
  .icon:hover{
    color:#fff600;
  }
.howitwork{
  text-align: center;
  color: #c0cfd8;
  padding-top:100px;
  padding-left: 200px;
  padding-right: 200px;
  line-height: 1.5;
}

.feature{
  padding-left: 40px;
  text-align: left;
  color:black;
  font-size: 1.5rem;
}


