.postin{
    /* background-size : 100% 110vh; */
    height : 100vh;
    align-items: center;
    text-align: center;
    margin: 5px;
}
.title-p {
  font-size: 2rem;
  text-align: center !important;
  margin-top: 6%;
  color: #4aa1f3;
  font-weight: bold;
}

.content-d {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}