.trekking{
      background-size : 100% 110vh;
    height : 170vh;
}
.trekking__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  width: 80%;
  margin: 50px auto 0;
  gap: 12px;
  margin-bottom: 20px;
}